target/
*.class
*.jar
*.war
*.ear
*.log
.idea/
*.iml
*.ipr
*.iws
.vscode/
.project
.classpath
.settings/
.factorypath
dependency-reduced-pom.xml
*.bak
*.tmp
*.orig
.mvn/
mvnw
mvnw.cmd
build/
.gradle/
.DS_Store
node_modules/
src/main/resources-binary/
